header {
    height: 110vh;
    padding: 7rem;
    overflow: hidden; 
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =========== CTA =========== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =========== Header Socials =========== */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem ;
    position: absolute;
    left: 0rem;
    bottom: 0.2rem;       
}
.header_socials a:hover{
    color: #fff;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary );
}

/* =========== ME =========== */
.me {
    background: linear-gradient(var(--color-primary), transparent );
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0 ;
    overflow: hidden ;
    padding: 1rem 4rem 2rem 3rem;
}

.me img {
  transition: transform 0.6s ease;
}
.me img:hover {
  transform: scale(1.7);
}


/* =========== scroll down =========== */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.scroll_down:hover{
    color: #fff;
}

/* ===== Dynamic Role Animation ===== */

/* .role {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
} */
 .role {
  font-size: 1.21rem;
  font-weight: 600;
  min-height: 36px;
  letter-spacing: 1px;
}
.role {
  font-weight: 500;
  min-height: 24px; /* prevents layout jump */
  color: var(--color-primary);
letter-spacing: 1px;
}   

.role span {
  position: relative;
  animation: floatText 3.7s ease-in-out infinite;
  color: var(--color-primary);
}

.role span:nth-child(2) {
  animation-delay: 0.3s;
}

.role span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes floatText {
  0% { transform: translateY(0); opacity: 0.8; }
  50% { transform: translateY(-6px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.8; }
}





/* -------------- MEDIA QUERISE (MEDIUM DEVICDES) --------------- */
@media screen and (max-width: 1024px) {
    header{
        height: 60vh;
    }
}

/* -------------- SMALL QUERISE (small DEVICDES) --------------- */

@media screen and (max-width: 600px) {
    header{
        min-height: 85vh;
        padding: 5rem 1.5rem 2rem;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

    .role {
        font-size: 1.2rem;
        min-height: 30px;
    }

    .cta {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .cta .btn {
        width: 80%;
        text-align: center;
    }
}


/* @media screen and (max-width: 600px) {
    header{
        height: 80vh;
        padding-top: 5rem;
    }
    .header_socials,
    .scroll_down {
        display: none;
    }
    .role {
  font-size: 1.1rem;
}
} */